<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Sign in</h1>

<%= form_with(url: sign_in_path) do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, value: params[:email_hint], autofocus: true, required: true, autocomplete: "email" %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me %>
  </div>

  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Sign up", sign_up_path %> |
  <%= link_to "Forgot your password?", password_reset_new_path %>
</div>
